
/* desktop */
@media (width >= 1280px) {
    .paragraph-card {
        grid-column: span var(--deskCols);
    }
}

/* tablet */
@media (width < 1280px) {
    .paragraph-card {
        grid-column: span var(--tabletCols);
    }
}

/* mobile device */
@media (width < 768px) {
    .paragraph-card {
        grid-column: span var(--mobileCols);
    }
}

/* anomalous devices */
@media (width < 360px) {
    .paragraph-card {
        grid-column: span var(--anomCols);
    }
}