#footer-wrapper {
    box-sizing: border-box;
    border: 1px solid black;
    height: 3em;
    font-size: var(--anomHeaderFont); 
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

/* desktop */
@media (width >= 1280px) {
    #footer-wrapper {
        grid-column: span var(--deskCols);
        background-color: red;
        /* font-size: var(--deskHeaderFont); */
    }
}

/* tablet */
@media (width < 1280px) {
    #footer-wrapper {
        grid-column: span var(--tabletCols);
        background-color: yellow;
        /* font-size: var(--tabletHeaderFont); */
    }
}

/* mobile device */
@media (width < 768px) {
    #footer-wrapper {
        grid-column: span var(--mobileCols);
        background-color: green;
        /* font-size: var(--mobileHeaderFont); */
    }
}

/* anomalous devices */
@media (width < 360px) {
    #footer-wrapper {
        grid-column: span var(--anomCols);
        background-color: blue;
        /* font-size: var(--anomHeaderFont); */
    }
}