#footer-wrapper {
    background-color: #ABB8CC;
    border: 1px solid black;
    border-radius: .5em .1em .5em .5em;
    min-height: fit-content;
    height: 3em;
    box-shadow: 2px -2px 4px #314B73;
    font-size: var(--anomHeaderFont); 
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: white;
    text-shadow: 1px 1px 2px #314B73;
}

/* desktop */
@media (width >= 1280px) {
    #footer-wrapper {
        grid-column: span var(--deskCols);
    }
}

/* tablet */
@media (width < 1280px) {
    #footer-wrapper {
        grid-column: span var(--tabletCols);
    }
}

/* mobile device */
@media (width < 768px) {
    #footer-wrapper {
        grid-column: span var(--mobileCols);
    }
}

/* anomalous devices */
@media (width < 360px) {
    #footer-wrapper {
        grid-column: span var(--anomCols);
    }
}