#footer-wrapper {
    min-height: fit-content;
    height: 3em;
    font-size: var(--anomHeaderFont); 
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    color: #546C8F;
}

/* desktop */
@media (width >= 1280px) {
    #footer-wrapper {
        grid-column: span var(--deskCols);
    }
}

/* tablet */
@media (width < 1280px) {
    #footer-wrapper {
        grid-column: span var(--tabletCols);
    }
}

/* mobile device */
@media (width < 768px) {
    #footer-wrapper {
        grid-column: span var(--mobileCols);
    }
}

/* anomalous devices */
@media (width < 360px) {
    #footer-wrapper {
        grid-column: span var(--anomCols);
    }
}