/*
all global styles here
*/
/* grid-template-rows: repeat(12, minmax(calc(100vh / 12), 1fr)) 1fr; */

/* define global variables */
:root {
    /* grid column numbers */
    --anomCols: 5;
    --mobileCols: 5;
    --tabletCols: 5;
    --deskCols: 5;

    /* header font size*/
    --anomHeaderFont: 12px;
    --mobileHeaderFont: 16px;
    --tabletHeaderFont: 24px;
    --deskHeaderFont: 32px;
}

#wrapper {
    /* background-color: #D9E0E9; */
    /* background-color: #7A8DA9; */
    background-color: white;
    /* define wrapper to be of type grid */
    display: grid;
    /* define the wrapper's width to be 100% of the view's width */
    min-width: 100vw;
    /* define the wrapper's height to be 100% of the view's height */
    min-height: 100vh;
    box-sizing: border-box;
    /* create 1 column to make header, footer, and main the same horizontal size so neither sticks out over the other */
    grid-template-columns: repeat(1, 1fr);
    border-radius: .5em .1em .5em .5em;
}

#main {
    /* define main to be of type grid */
    display: grid;
    /* define the main content area's height to be 100% of the view minus the heights of the header and footer combined */
    min-height: calc(100vh - (6 * (var(--anomHeaderFont))));
    /* allow overflow in vertical direction to be handled automatically */
    overflow-y: auto;
    background-color: inherit;
}

.paragraph-card {
    line-height: 1.5em;
    text-align: left;
}

.page-title {
    display: flex;
    flex-direction: row;
    color: #546C8F;
    justify-content: center;
}

.page-title-inner {
    width: 10em;
    text-align: left;
    transform: translateX(calc(50% - 3em));
}

/* desktop */
@media (width >= 1280px) {
    #main {
        min-height: calc(100vh - (3 * var(--deskHeaderFont) + 3 * var(--anomHeaderFont)));
        /* create 6 equal-sized columns for wrapper */
        grid-template-columns: repeat(var(--deskCols), 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 32px;
        padding: 0px 64px;
    }
    .page-title {
        grid-column: span var(--deskCols);
        font-size: var(--deskHeaderFont);
    }
}

/* tablet */
@media (width < 1280px) {
    #main {
        min-height: calc(100vh - (3 * var(--tabletHeaderFont) + 3 * var(--anomHeaderFont)));
        /* create 3 equal-sized columns for main */
        grid-template-columns: repeat(var(--tabletCols), 1fr);
        grid-template-rows: repeat(6, auto);
        /* define gutter space between cells to be 32px */
        gap: 32px;
        padding: 0px 64px;
    }
    .page-title {
        grid-column: span var(--tabletCols);
        font-size: var(--tabletHeaderFont);
    }
}

/* mobile device */
@media (width < 768px) {
    #main {
        min-height: calc(100vh - (3 * var(--mobileHeaderFont) + 3 * var(--anomHeaderFont)));
        /* create 1 column for main */
        grid-template-columns: repeat(var(--mobileCols), 1fr);
        /* create 12 equal-sized rows for wrapper */
        grid-template-rows: repeat(6, auto);
        /* define gutter space between cells to be 16px */
        gap: 16px;
        padding: 0px 32px;
    }
    .page-title {
        grid-column: span var(--mobileCols);
        font-size: var(--mobileHeaderFont);
    }
}

/* anomalous devices */
@media (width < 360px) {
    #main {
        /* create 1 column for wrapper */
        grid-template-columns: repeat(var(--anomCols), 1fr);
        /* create 12 equal-sized rows for wrapper */
        grid-template-rows: repeat(6, auto);
        /* define gutter space between cells to be 12px */
        gap: 12px;
        padding: 0px 24px;
    }
    .page-title {
        grid-column: span var(--anomCols);
        font-size: var(--anomHeaderFont);
    }
}