

#header-wrapper {
    margin-bottom: 10px;
    height: fit-content;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
}

#header-wrapper::after {
    content: '';
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #546C8F;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100%;
}

#header-left {
    display: flex;
    flex-direction: row;
}

#logo {
    max-height: 3em;
    max-width: 3em;
    cursor: pointer;
}

#company-name {
    color: black;
    text-shadow: 1px 1px 2px #ABB8CC;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#company-description {
    color: #546C8F;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 5%;
}

/* hamburger styles */
#hamburger {
    height: 3rem;
    width: 3rem;
    position: absolute;
    right: 1rem;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* hamburger animations */
#hamburger.expanded .line {
    transition: y .15s ease-in, rotate .15s ease-in .15s, opacity 0s .15s;
}

#hamburger .line {
    transition: y .15s ease-in .15s, rotate .15s ease-in, opacity 0s .15s;
    transform-origin: center;
}

#hamburger.expanded :is(.top, .bottom) {
    y: 45;
}

#hamburger.expanded .top {
    rotate: 45deg;
}
#hamburger.expanded .bottom {
    rotate: -45deg;
}

#hamburger.expanded .middle {
    opacity: 0;
}

/* navbar styles */
.navbar {
    display: flex;
}

.navbar>* {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 2em;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar>*:hover {
    background-color: #ABB8CC;
}

/* desktop */
@media (width >= 1280px) {
    #header-wrapper {
        grid-column: span var(--deskCols);
    }
    #company-name {
        font-size: var(--deskHeaderFont);
    }
    #company-description {
        font-size: var(--anomHeaderFont);
    }
}

/* tablet */
@media (width < 1280px) {
    #header-wrapper {
        grid-column: span var(--tabletCols);
        
    }
    #company-name {
        font-size: var(--tabletHeaderFont);
    }
    #company-description {
        font-size: var(--anomHeaderFont);
    }
}

/* mobile device */
@media (width < 768px) {
    #header-wrapper {
        grid-column: span var(--mobileCols);
    }
    #company-name {
        font-size: var(--mobileHeaderFont);
    }
    #company-description {
        font-size: var(--anomHeaderFont);
    }
}

/* mobile hamburger menu */
@media (width < 600px) {
    #hamburger {
        display: flex;
    }
    #hamburger:hover {
        cursor:pointer;
    }
    #header {
        flex-direction: column;
    }
    .header-wrapper::after {
        /* this class is applied to the div with the
        header-wrapper id to attach a pseudo element
        that alters the display of the header line 
        when toggling open and closed the navbar menu*/
        display: none;
    }
    #header-right {
        margin-right: 0;
    }
    .navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 100%;
    }
    .navbar > * {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid #546C8F;
    }
    .navbar.active > * {
        animation: expandAnimation 0.3s forwards;
    }
    .active {
        /* javascript toggles the active class on the navbar
        when clicked, revealing the navbar items */
        display: flex;
    }
    #main.active-menu, .hero.active-menu {
        filter: blur(5px);
        user-select: none;
    }
    #main.active-menu .photo-text {
        pointer-events: none;
    }
    #footer.active-menu {
        filter: blur(5px);
        background:rgba(0,0,0,0.08);
        user-select: none;
    }
}

/* anomalous devices */
@media (width < 360px) {
    #header-wrapper {
        grid-column: span var(--anomCols);

    }
    #company-name {
        font-size: var(--anomHeaderFont);
    }
    #company-description {
        font-size: var(--anomHeaderFont);
    }
}

@keyframes expandAnimation {
    from {
        height: 0;
    }
    to {
        height: 2em;
    }
}