#header-wrapper {
    /* background-color: #ABB8CC; */
    background-color: #ABB8CC;
    border: 1px solid black;
    border-radius: .5em .1em .5em .5em;
    box-shadow: 2px 2px 4px #314B73;
    margin-bottom: 10px;
    height: fit-content;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100%;
    padding: 5px 10px;
}

#header-left {
    display: flex;
    flex-direction: row;
    text-shadow: 1px 1px 8px #314B73;
}

#header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header-right>* {
    margin-inline-start: 1rem;
    cursor: pointer;
    border: 1px solid #314B73;
    background: linear-gradient(to right, white, #D9E0E9);
    padding: 3px;
    border-radius: .5em .1em .5em .5em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-right>*:active {
    background: #D9E0E9;
    box-shadow: inset 1px 1px 2px #314B73;
}

/* desktop */
@media (width >= 1280px) {
    #header-wrapper {
        grid-column: span var(--deskCols);
        font-size: var(--deskHeaderFont);
    }
}

/* tablet */
@media (width < 1280px) {
    #header-wrapper {
        grid-column: span var(--tabletCols);
        font-size: var(--tabletHeaderFont);
    }
}

/* mobile device */
@media (width < 768px) {
    #header-wrapper {
        grid-column: span var(--mobileCols);
        font-size: var(--mobileHeaderFont);
    }
}

/* anomalous devices */
@media (width < 360px) {
    #header-wrapper {
        grid-column: span var(--anomCols);
        font-size: var(--anomHeaderFont);
    }
}