#header-wrapper {
    border-radius: .5em .1em 0em 0em;
    margin-bottom: 10px;
    height: fit-content;
}

#header-wrapper::after {
    content: '';
    position: absolute;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #546C8F;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 100%;
    padding: 5px 10px;
}

#header-left {
    display: flex;
    flex-direction: row;
    padding: .5em;
}

#logo {
    max-height: 3em;
    max-width: 3em;
    cursor: pointer;
}

#company-name {
    color: black;
    text-shadow: 1px 1px 2px #ABB8CC;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#company-description {
    color: #546C8F;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-right {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    margin-right: 5%;
}

#header-right>* {
    margin-inline-start: 1rem;
    cursor: pointer;
    padding: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header-right>*:active {
    text-shadow: 1px 1px 2px #314B73;
}

/* desktop */
@media (width >= 1280px) {
    #header-wrapper {
        grid-column: span var(--deskCols);
    }
    #company-name {
        font-size: var(--deskHeaderFont);
    }
    #company-description {
        font-size: var(--anomHeaderFont);
    }
}

/* tablet */
@media (width < 1280px) {
    #header-wrapper {
        grid-column: span var(--tabletCols);
        
    }
    #company-name {
        font-size: var(--tabletHeaderFont);
    }
    #company-description {
        font-size: var(--anomHeaderFont);
    }
}

/* mobile device */
@media (width < 768px) {
    #header-wrapper {
        grid-column: span var(--mobileCols);

    }
    #company-name {
        font-size: var(--mobileHeaderFont);
    }
    #company-description {
        font-size: var(--anomHeaderFont);
    }
}

/* anomalous devices */
@media (width < 360px) {
    #header-wrapper {
        grid-column: span var(--anomCols);

    }
    #company-name {
        font-size: var(--anomHeaderFont);
    }
    #company-description {
        font-size: var(--anomHeaderFont);
    }
}