.scroller-wrapper {
    overflow-x: hidden;
    padding: 1em 0;
    grid-column: 2 / 5;
    height: fit-content;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    max-width: 600px;
}

.scroller {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: max-content;
    flex-wrap: nowrap;
}

.left {
    animation: slide 60s forwards linear infinite;
}

.right {
    animation: slide 80s reverse linear infinite;
}

.skill-card {
    font-size: 1em;
    color: white;
    text-shadow: 2px 2px 4px #707070;
    border-radius: .5em;
    box-shadow: 1px 1px 4px #314B73;
    padding: .5em;
    height: 1.2em;
    min-width: fit-content;
    background: linear-gradient(to right,darkgray,gray);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.photo {
    padding: .5em;
    height: 5em;
    max-width: 5em;
}

@keyframes slide {
    to {
        transform: translate(calc(-50% - .5rem));
    }
}