.photo {
    height: 12rem;
    width: 12rem;
    position: relative;
    grid-column: 1 / 2;
}

.photo img {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.photo-text {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: .6s;
}

.photo-text:hover {
    color: white;
    opacity: 1;
}

.photo-text h1 {
    margin-bottom: 0;
    line-height: .5rem;
}
.photo-text h2 {
    line-height: .5rem;
}

.photo-text > * {
    margin-left: 1.5em;
    margin-right: 1.5em;
    transform: translateY(.5em);
    transition: transform .6s;
}

.photo-text:hover > * {
    transform: translateY(0);
}

.quote-card {
    display: flex;
    justify-content: left;
    align-items: center;
    grid-column: 2 / 6;
}

/* desktop */
@media (width >= 1280px) {
    .quote-card {
        font-size: calc(var(--deskHeaderFont) * 1.5);
    }
    .photo-text h1 {
        font-size: calc(var(--deskHeaderFont) * .5);
    }
    .photo-text h2 {
        font-size: calc(var(--deskHeaderFont) * .4);
    }
}

/* tablet */
@media (width < 1280px) {
    .quote-card {
        font-size: calc(var(--tabletHeaderFont) * 1.5);
    }
    .photo-text h1 {
        font-size: calc(var(--tabletHeaderFont) * .6);
    }
    .photo-text h2 {
        font-size: calc(var(--tabletHeaderFont) * .5);
    }
}

/* mobile device */
@media (width < 768px) {
    .quote-card {
        font-size: calc(var(--mobileHeaderFont) * 1.5);
    }
    .photo-text h1 {
        font-size: calc(var(--mobileHeaderFont) * .8);
    }
    .photo-text h2 {
        font-size: calc(var(--mobileHeaderFont) * .7);
    }
}

/* anomalous devices */
@media (width < 360px) {
    .quote-card {
        font-size: calc(var(--anomHeaderFont) * 1.5);
    }
    .photo-text h1 {
        font-size: calc(var(--anomHeaderFont) * .8);
    }
    .photo-text h2 {
        font-size: calc(var(--anomHeaderFont) * .7);
    }
}